
#compare-top-actions{
  margin: 10px 0 25px;
}



.comp-container{
  
  position: relative;
  height: 375px;
  border: solid 1px $msl-gray-border-color; 
  background-color: $msl-gray-bg-color; 
  margin-bottom: 8px;
  // cursor: pointer;
  
  -webkit-transition: background-color 333ms linear; 
  -moz-transition: background-color 333ms linear;
  -o-transition: background-color 333ms linear;
  -ms-transition: background-color 333ms linear;
  transition: background-color 333ms linear;    
  
  @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
    height: 435px;
  }
  
  
  .remove-comparison{
    border: 1px solid $msl-gray-border-color; 
    background-color: $white; 
    border-radius: 10px;
    position: absolute; 
    width:20px;
    height:20px;
    top: 20px;
    right: 15px;
    cursor:pointer;
  }
  
  .remove-comparison-x{
    color: $msl-gray-border-color;
    position:absolute;
    top:1px;
    left:5px;
    font-size: 13px;
  }  
  
  .comp-content-container{
    
    padding: 15px;

    .comp-img{
      height: 100px; 
      width: 100%; 
      background-size: cover;
    }
    
    .comp-title{
      font-family: 'nexabold';
      color:  $msl-body-font-color;
      font-size: 13px; 
      padding-bottom: 15px; 
      margin-top: 40px;
      font-weight: 400;
      line-height: 23px;
      @media only print, screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        //padding-bottom: 40px;
        font-size: 15px; 
      }       
    }
    
    .price{
      font-family: 'nexabold';
      margin-top: 10px;
      font-size: 17px;
      font-weight: 400;
      line-height: 23px; 
      padding-top: 20px; 

      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding-top: 0;
        font-size: 21px;
      } 
       
    }
    
    .comp-stock-num{
      padding-top: 10px; 
      font-size: 12px;
    }
    
    .border-right{
      border-right: 1px solid $msl-gray-border-color; 
    } 

    .comp-text-container{
      
      padding-top: 20px;
      
      .comp-row{
        
        margin-bottom: 10px;
  
        .comp-detail{
          font-size: 11px; 
          line-height:13px;
          font-weight: 400;
    
        }
        
        .comp-value{
          font-size: 11px;
          font-family: 'nexabold';   
          line-height: 13px;       
        }
        
      }
    }

  }  
}
.comp-payments-btn{
  padding: 5px 0;
}
.comp-apply-btn{
  margin-bottom: 70px;
}


.comp-container:hover{
  
  background-color: $msl-gray-bg-hover; 
  border-bottom: 4px solid $msl-green;

  -webkit-transition: background-color 333ms linear; 
  -moz-transition: background-color 333ms linear;
  -o-transition: background-color 333ms linear;
  -ms-transition: background-color 333ms linear;
  transition: background-color 333ms linear;   
  
}



//fix the accordion for comparison page (this style is set elsewhere for other accordions, but this one doesn't follow rule)
.comparison .accordion .accordion-navigation>.content, .comparison .accordion dd>.content{
  padding: 0 !important;
}


.comp-accordion-content{
  height:40px;//60px; 
  padding: 20px 0; //25px 0;
  font-size: 13px;
}

.comp-accordion-border{
  border-right: 1px solid $msl-gray-border-color; 
  border-left: 1px solid $msl-gray-border-color; 
  margin-top: 15px;
}

.border-0{
  border-left: 0;
}

.border-last{
  border-right: 0;
}

.comp-accordion-empty{
  height:40px;//60px;
}

.comp-accordion-bottom{
  height:30px;//height:40px;
  margin-bottom: 20px;
}

.comp-print{
  display: none;
}


@media print {
  
  //display accordions
  .comparison .accordion .accordion-navigation>.content, .comparison .accordion dd>.content {
    display:block;
  }
  
  //put a border around the accordion title (so it's not floating)
  .accordion-navigation{
    a { 
      border: 1px solid $msl-gray-border-color;
      margin-top: 15px;
    } 
  }
  
  //hide stuff not needed for print on comparison page
  a.graybutton, .remove-comparison, .comp-img, #compare-top-actions, .comp-apply-btn{
    display:none;
  }
  
  //background images don't display by default, so show the backup image put in specifically for print
  .comp-print{
    display: block;
  }
  
  //condense the page so it doesn't take up so much space
  .comp-accordion-content, .comp-accordion-empty, .comp-accordion-bottom{
    height: 20px;
    padding: 0;
    lineheight:20px;
  }
  
    
}
      
