




.price{
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  font-family: 'nexabold';
}

.detail-sales-price{
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
}

.detail-pricing-container{
  font-size: 13px;
  margin-top: 20px;
  @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
    margin: 50px 0 55px; 
  }   
  
  .detail-pricing{
    padding-right: 40px;
    
    margin-bottom: 15px;
    @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
      float: left; 
      margin-bottom: 0;
    }   
  }
  
  .detail-pricing.last{
    padding-right:0;
  }
  
}





#tabs-container{
  
  margin-top: 60px;

  .tabs{
    
    margin-bottom: 30px !important;
    
    @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
      margin-bottom: 0 !important;
    }     
    
    .tab-title{
      
      margin-bottom: 5px !important;
      border: 1px solid $msl-gray-border-color;
      margin-right: 7px;
      width: 100%;
      
      &:last-child{
        margin-right: 0;
      }
      text-align: center;
      

      @media only print, screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        width: 193px;
        margin-bottom: 0 !important;
      } 

      
      @media only print, screen and (min-width: $large-breakpoint + em-calc(1)) {  
        width: 215px;
      } 

    }
    .tab-title.active{
      
      border-bottom: 4px solid $msl-green;
      
      @media only print, screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        border-bottom: 1px solid $msl-gray-bg-color;
        position:relative; 
        top: 1px;
      }
    }
    .tab-title:not(.active):hover{
      //border-bottom: 4px solid $msl-green;
    }
  }
  
  .tabs-content{
    width: 100%; 
    background-color: $msl-gray-bg-color;
    border: 1px solid $msl-gray-border-color;
    
    
    .tab-content-left{
      font-size: 15px;
      padding: 20px 0 0 0; 
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding: 50px 30px 20px; 
      }
      @media only print, screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        padding: 50px 0 70px 30px; 
      }        
    }
    
    .tabs-detail-title{
      font-size: 19px; 
      padding-bottom: 30px; 
      color: $msl-body-font-color;
    }
    
    .tab-detail-price{
      font-family: 'nexabold'; 
      font-size: 19px; 
      line-height: 50px;
    }
    
    .tab-detail-description{
      padding-bottom: 45px;
    }
    
    #download-manufacturer-brochure{
      font-size: 13px;
      height: 42px; 
      padding: 10px; 
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        height: 67px;
      } 
    }
    
    #request-info-container{
      margin-top: 10px;
      
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        margin-right: 5px;
      } 
      #btn-request-info{
        height: 42px; 
        padding: 10px; 
        font-size: 13px;
      }
    }
    

    #calculate-payment-container{
      margin-top: 10px;

      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        margin-left: 5px;
      } 
      
      .btn-calculate-payments{
        height: 42px; 
        padding: 10px; 
        font-size: 13px;
      }
    }
    
    .tab-detail-contact-us{
      clear:both; 
      padding-top: 30px;
    }
    
    .tab-content-right{
      font-size: 15px; 
      padding: 40px 0 25px 0; 
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding: 40px 30px 70px; 
      }
      @media only print, screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        padding: 50px 30px 70px 0; 
      }      
    }
    
    .tab-content-border{
      border: 1px solid $msl-gray-border-color;
    }
    
    .detail-title{
      background-color: $msl-gray-border-color; 
      text-align: center; 
      height: 30px; 
      line-height: 30px;
    }
    

    

    
    .detail-container, .detail-container-padding{
      display:flex;
 
     .detail-right{
      
        text-align: left; 
        //padding: 5px 0 0; 
        font-size: 13px;
        width: 40%; 
        float: left; 
        background-color: #f5f5f5;
        padding: 0 10px 8px 20px; 

     
      }
      
      .detail-left{
        background-color: $msl-gray-button-bg; 
        text-align: right; 
        padding: 0 20px 8px 10px; 
        font-size: 13px;
        width:60%; 
        float: left; 
        background-color: 
        #ebebeb; 
        
        &:last-of-type{
          //padding-bottom: 40px;
        }
        &:last-child{
          //padding-bottom: 40px;
        }
  
      }     
      
      
      .add-padding{
        padding-top: 20px;
      } 
      
    }
    .detail-container-padding{
      max-height: 15px;
      height: 15px;
    }
    
    

    
    .tab-content-full{
      
      padding: 20px 0 25px 0; 
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding: 50px 30px 70px 30px; 
      }      
      font-size: 15px;
    }
    
    .floorplan-img-container{
      
      @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding-top: 30px; 
      }       
    }
    
  }

}



.myIframe {
  position: relative;
  
  padding: 0 0 50%;
  height: 0;
  overflow: auto; 
  -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
  /* border: solid black 1px; */
} 
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height:400px;
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    padding-top: 30px; 
  }    
}


@media print {

  //hide stuff not needed for print on comparison page
  a.graybutton, .detail-slider-container, .manager-special-container, .tabs, #request-info-container, #calculate-payment-container, #panel-3 {
    display:none;
  }
  
  h1, #detail-title{
    margin: 40px 0 40px !important;
  }
  
  .container{
    margin-top: 0;
  }
  
  .detail-pricing-container{
    margin: 40px 0;
  }
  
  #tabs-container{
    margin-top:20px;
  }
 
  
}  