// Add some whitespace above the footer for medium-up screens
@media #{$small-up} {
	footer {
		margin-top: rem-calc(75);
	}
}

footer{
  background-color: $msl-dark-gray;
  background: url('../assets/img/footer-texture.png') repeat;
  height: 685px;
  width: 100%;
  
  font-size: 13px;
  line-height: 24px;


  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    height: 673px;
  }
  
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    height: 624px;
  }  

  
  #footer-img-container{
     padding-top: 80px;
     padding-bottom: 135px;
     

    @media only screen and (max-width: $small-breakpoint ) {  
      
     #msl-footer-logo{
        width: 230px;
     }
      
      #priority-img{
        width: 112px;
        margin-top: 35px;
        margin-bottom: 35px;
      }
    }   
   
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      #priority-img{
        float: right;
      }
    } 
        
     
  }
  
  #address-links-container{
  
    padding-bottom: 100px;
  
    #footer-address-container{
      padding-bottom: 20px; 
    }
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      padding-bottom: 125px;
    }     
  
  }

  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    .border-right{
      border-right: solid 1px white;
    }
  }  
  
  #rvs-container{
    margin-bottom: 25px;

    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      margin-bottom: 0;
    }     
    
  }
  
  #social-media-container-left{
    padding-top: 25px;
  }
  
  .social-icon {
    padding-right: 15px;
    font-size: 18px;
  }

 
  #footer-line{
    border-top: 1px solid white; 
    margin: 0 15px; 
    height: 1px; 
    padding-bottom: 19px;
  }
 
  #copyright-container{
    text-align: left;
    border-top: 1px solid $white;
    margin-top: 10px;
    padding-top: 10px;
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      text-align: right;
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

  }
 
}
