
.giveaway-container{
  margin: 68px -15px 0;
}

.financing-container{
  margin: 0 -15px;
}

.pad-bottom-20{
  padding-bottom: 20px;
}
.pad-bottom-30{
  padding-bottom: 30px;
}
.pad-bottom-40{
  padding-bottom: 40px;
}
.pad-bottom-60{
  padding-bottom: 60px;
}

.pad-top-20{
  padding-top: 20px;
}

.pad-top-40{
  padding-top: 40px;
}

.fine-print, .fine-print p{
  font-size: 11px;
}

label.no-placeholder {
  display: none;
}

label.form-display-inline{
  display: inline-block;
  color: #7d7d7d;
  padding-right: 15px;
}
.formRentOrOwn span{
  color: #7d7d7d;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;  
}

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
} 

.coApplicant{
  label{
      min-width: 250px;
  }
}

.frmCheckbox span.wpcf7-list-item{
  float: left;
  width: 48%;

  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    width: 30%;
  }   
  
  //http://www.paulund.co.uk/style-checkboxes-with-css
  input[type="checkbox"]{
    /*
    -webkit-appearance:none;
    -moz-appearance:none;
    width:15px;
    height:15px;
    background: $white;
    border-radius:0;
    border:1px solid $msl-gray-border-color;
    float: left;
    
    &:checked {
        background: #abd;
    }      
    */
  }


  label {
    color:  #7d7d7d;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
  }  
  
}
.frmCheckbox span.wpcf7-list-item:after{
    clear: both;
}
#formContactMe{
  span.wpcf7-list-item{
    width: 100%;    
  }
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="tel"], .form-group textarea, 
.form-group select {
 
  color:  $msl-light-gray;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
 
  border-width: 1px;
  border-color:  #cccccc;
  border-style: solid;
  background-color:  #ffffff;
  height: 35px;  
  box-shadow: none; 
  margin-bottom: 10px;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok{
  clear: both;
  float:none;
}

.wpcf7-not-valid-tip, .wpcf7-response-output{
  clear: both;
  float: left;
}

#email-popup, #comparison-email-popup{
  .wpcf7-response-output{
    float: none;
  }
}

::-webkit-input-placeholder { /* fix placeholder opacity */
    color:    $msl-light-gray;
    opacity: 1 !important;
}
::-moz-placeholder{
    color:    $msl-light-gray;
    opacity: 1 !important;  
}

.terms-conditions{
  border: 1px solid;
  padding: 2em;
  height: 19.1875rem;
  overflow-y: scroll;
  margin: 2rem 0em 1.5em 0em;
  background-color: rgba(0, 0, 0, .025);
}

.form-block{
  margin: 20px 0 30px;
  float: left;
}

.hr-padding{
  margin: 0 15px;
}

//on popup contact us form
#contact-us-popup, #request-info-popup, #calculate-payment-popup, #privacy-policy-popup, #email-popup, #comparison-email-popup, #edit-details-popup{
  
  button{
    margin-bottom: 20px;
    
  }
  
  .contact-us-title, #contact-us-title{
    color:  $msl-light-gray;
    font-size: 23px; 
    font-weight: 400;
    line-height: 23px; 
    padding-bottom: 20px;
    padding-top: 18px;
    padding-right: 30px;
  }
  
  .contact-hours-text{
    font-size: 13px;
    p {
      font-size: 13px;
    }
  }
  .contact-details-text{
    font-size: 15px;
    padding-bottom: 15px;
  
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      padding: 20px 0;
    }   
  }
  .pad-left{
    padding-left: 15px;
  }
  
  .request-info-details-text{
    padding: 30px 0 40px;
  }
  
  .monthly-payment{
    margin:30px 0 10px;
  }
  
  .calculated-price{
    margin-bottom: 30px;
  }
  #est-pmt-error{
    margin-bottom: 30px;
  }
  
}

#edit-floor-plan-container{
  margin-top:30px;
}

#formDescription{
  height: 120px;
}

.hide{
  display: none;
  visibility: hidden;
}

//TODO fix the drop down arro http://bavotasan.com/2011/style-select-box-using-only-css/