/* 
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

.column.nopadding, .columns.nopadding {
  padding-left: 0;
  padding-right: 0;
}
.column.nopadding-left, .columns.nopadding-left {
  padding-left: 0;
}
.column.nopadding-right, .columns.nopadding-right {
  padding-right: 0;
}

/* Sets the max width for the entire website */
.page-width{
  max-width: 986px;
  margin: 0 auto;

  .entry-content{
    color:  #7d7d7d;
    font-size: 15px; 
    font-weight: 400;
    line-height: 24px; 
  }    
    
}  
  
h1, h2{
  color:  $msl-light-gray;
  font-size: 23px; 
  font-weight: 400;
  line-height: 23px; 
  margin: 30px 0 30px 0;
  @media only print, screen and (min-width: $small-breakpoint + em-calc(1)) {  
    margin: 82px 0 44px 0;
  }    
}
h2{
  font-family: 'nexabold';
  color: $msl-green;   
  margin: 0 0 20px; 
}
h3{
  
}
h4{
  color:  $msl-light-gray;
  font-size: 17px; 
  font-weight: 400;
  line-height: 23px; 
  text-align: left; 
  margin-bottom: 20px;
}
  

.uppercase{
  text-transform: uppercase;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.clear{
  clear:both;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left;
}
.relative{
  position: relative;
}
.display-inline{
  display: inline;
}
.bold{
  font-family: 'nexabold';
}
.no-wrap{
  white-space: nowrap;
}

.no-link-color{
  a{
    color: #626262;
  }
}

.white, a.white, a.white:hover, a.white:visited, a.white:active {
  color: $white;
  
  a{
    color: $white;
  }
}
.green {
  color: $msl-green;
}
.red{
  color: $msl-red;
}

a.graybutton{

  //border-bottom: 4px solid $msl-green;
  height: 42px;
  line-height: 42px;
  font-size: 11px;
  color: $msl-body-font-color;
  background-color: $msl-gray-button-bg;
  //padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 150px;
  margin-bottom: 4px;

  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    font-size: 13px;
  }     
  
}

a.graybutton.full-width-button{
  width: 100%;
}

//home page slider button - center it on mobile only
.slider-text-container{
  a.graybutton{
    @media only screen and (max-width: $small-breakpoint ) {  
      margin-left: auto;
      margin-right: auto;
    } 
  } 
}

/*
a.graybutton:hover, a.graybutton:active, a.graybutton:focus  {

  height: 42px;
  border-bottom: 4px solid $msl-green;
}
*/

a.graybutton:after {
  display:block;
  content: '';
  border-bottom: 4px solid $msl-green;  
  -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);  
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;

}
a.graybutton:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
 

.sliding-middle-out {
  display: inline-block !important;
  position: relative !important;
  padding-bottom: 4px !important;
}
.sliding-middle-out:after {
  content: '' !important;
  display: block !important;
  margin: auto !important;
  height: 4px !important;
  width: 0px !important;
  background: transparent !important;
  transition: width .25s ease, background-color .25s ease !important;
}
.sliding-middle-out:hover:after {
  width: 100% !important;
  background: $msl-green !important;
}
   
  
.full-width{
  width: 100% !important;
}

:focus {
//outline-size: 1px;
//outline-style: solid;
outline-color: rgba(93,187,70, .1);//$msl-green
}

//used on home page and rvs page
#search-dropdown-container{
    
    #search-dropdown{
      width: 100%;
          
      .search-btn-text{
        padding-left: 25px; 
        font-size: 15px;      
      }
      
      .search-btn-arrow{
        padding-right: 25px; 
        font-size: 20px;     
      }
    }
}

//global print setup
@media print {
  //set width of page to equal printing size
  html {
    width: rem-calc(1280px);
  }

  //ajdust columns
  @for $i from 1 through $total-columns {
    .large-#{$i} {
      width: percentage($i / $total-columns);
    }
  }
  
  //hide default header and footer
  .fixed, #footer{
    display:none;
  }
  
  //don't show links
  a[href]:after {
    content: none !important;
  }   
  
}