#home-title{
  margin-top: 0px;
}

#home-search-box{
  
  background-color: $msl-gray-bg-color; 
  height: 450px; 
  width: 94%;
  position: absolute; 
  z-index: 10; 
  bottom: 5px;
  display:none;
  left:0;
  margin-left: 15px;

  @media only screen and (min-width: $small-breakpoint ) {  
    height: 366px; 
  }     
  
  #new-check-home{
    width:80px;
    @media only screen and (min-width: em-calc(641)) {  
      width:55px
    }    
    @media only screen and (min-width: $medium-breakpoint ) {  
      width:80px
    }      
  }
  
  #new-check-home, #used-check-home{
    label{
      margin-right: 0;
      line-height: 15px;
    }
  }
  
  #results-home{
    font-size: 13px;
    text-align: right;
    padding-bottom: 5px;
  }
  
  .home-search-toggle{
    height: 42px; 
    width: 100%; 
    cursor: pointer; 
    line-height: 42px; 
    margin-bottom: 5px; 
    padding-left:25px;

    @media only screen and (min-width: $small-breakpoint ) {  
      margin-bottom: 20px;
    }  
    
    .search-btn-arrow{
      padding-right: 25px; 
      font-size: 20px;
    }
  }
  
  #search-features{
    height: 37px;
  }
  
  select{
    margin-bottom: 8px;
  }
  input[type="text"]{
    margin-bottom: 8px;
  }

}   

 #view-home{
    height: 42px;
    width: 50%;
    line-heigh: 26px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 0;
}


.home-content-btn{
  border-bottom: 1px solid $msl-gray-border-color;
}


#home-types-container-1{
  
  height: 135px; width: 100%; margin: 30px 0 100px; position: relative;
  
  #types-faux-bg{
    background-color: $msl-gray-bg-color; 
    height: 100%;
    width: 1000000000px;
    position: absolute;
    left: -10000px;
    right: 10000px;
    top: 0;z-index: -1;
    border-bottom: 1px solid $msl-gray-border-color; 
  }
  
  .type-box-1{
    
    border-left: 1px solid $msl-gray-border-color;
    height: 135px; 
    width: 14.2%;
    position: relative;
    font-size:13px;

    -webkit-transition: background-color 333ms linear; 
    -moz-transition: background-color 333ms linear;
    -o-transition: background-color 333ms linear;
    -ms-transition: background-color 333ms linear;
    transition: background-color 333ms linear; 

    &:last-of-type{
      border-right: 1px solid $msl-gray-border-color;
    }

    &:hover{
      background-color: $msl-gray-bg-hover; 

      -webkit-transition: background-color 333ms linear; 
      -moz-transition: background-color 333ms linear;
      -o-transition: background-color 333ms linear;
      -ms-transition: background-color 333ms linear;
      transition: background-color 333ms linear;         
    }
    
    .type-title-1{
      text-align: center; 
      font-size: 13px; 
      margin: 15px 0 5px;
    }
    
    .type-img-1{
      height:60px; 
      width: 100%; 
    }
    
    .link-container-1{
      display:none;

        position: absolute; 
        bottom: 0; 
        border-top: 1px solid $msl-gray-border-color; 
        border-bottom: 1px solid $msl-gray-border-color; 
        width: 100%; z-index: 5; 
        height: 28px;
        
        .new-container-1, .used-container-1{
          height: 27px;           
        }
        
        .new-container-1{
          border-right: 1px solid $msl-gray-border-color;
        }
        
        a{
          color: #626262; 
          display: block; 
          width: 100%;
        }
        
        .link-text-1{
          height: 23px;  
          line-height: 26px;
        }

    }
    
  }
  
  //show new and used boxes when the big block is hovered
  .type-box-1:hover{
    .link-container-1{
      display:block;
    }      
  }
  
}



#home-types-container-2{
  
  margin: 50px 0 60px;
  @media only screen and (min-width: $small-breakpoint  ) {  
    margin: 50px 0 100px;
  } 
  
  #homes-inner-2{
    
    padding: 0 15px;
    
    .type-box{
      position: relative;
      background-color: $msl-gray-bg-color; 
      height: 150px; 
      width: 100%;
      font-size: 13px;
      border-right: 1px solid $msl-gray-border-color; 
      padding-top: 20px;

      @media only screen and (min-width: $small-breakpoint  ) {  
        height: 235px; 
        font-size: 16px;
        padding-top: 30px;
      }  

      -webkit-transition: background-color 333ms linear; 
      -moz-transition: background-color 333ms linear;
      -o-transition: background-color 333ms linear;
      -ms-transition: background-color 333ms linear;
      transition: background-color 333ms linear; 
      
      &:hover{
        background-color: $msl-gray-bg-hover; 

        -webkit-transition: background-color 333ms linear; 
        -moz-transition: background-color 333ms linear;
        -o-transition: background-color 333ms linear;
        -ms-transition: background-color 333ms linear;
        transition: background-color 333ms linear;         
      }
      
      .title-img-container{
        padding: 0 15px;
      }
      
      .type-title{
        margin-bottom: 10px;
        text-align: center;
      }
      
      .type-img{
        height: 60px; 
        width: 100%;  
        @media only screen and (min-width: $small-breakpoint  ) {  
          height: 100px; 
        }         
      }
      
      .link-container{
        position: absolute; 
        bottom: 0; 
        border-top: 1px solid $msl-gray-border-color; 
        border-bottom: 1px solid $msl-gray-border-color; 
        width: 100%; z-index: 5; 
        height: 28px;
        font-size: 11px;
        @media only screen and (min-width: $small-breakpoint  ) {  
          height: 42px; 
          font-size: 13px;
        } 

        
        .new-container, .used-container{
          height: 27px; 
          @media only screen and (min-width: $small-breakpoint  ) {  
            height: 41px; 
          }                     
        }
        
        .new-container{
          border-right: 1px solid $msl-gray-border-color;
        }
        
        a{
          color: #626262; 
          display: block; 
          width: 100%;
        }
        
        .link-text{
          height: 23px;  
          line-height: 24px;
          @media only screen and (min-width: $small-breakpoint  ) {  
            height: 37px;  
            line-height: 38px;
          }           
        }


      }
      
      .last-container{
        border-top: 0;
      }
     
     
      
    }
    
    .left-border{
      border-left: 1px solid $msl-gray-border-color;
    }
    
    .left-border-small{
      @media only screen and (max-width: $small-breakpoint ) {  
        border-left: 1px solid $msl-gray-border-color;
      }        
    }
    
    
  }
}


.home-page-content{
  margin-bottom: 60px;
  @media only screen and (min-width: $small-breakpoint  ) {  
    margin-bottom: 100px;
  }   
}
