

#option-bar{
  background-color: $msl-gray-bg-color; 
  border: 1px solid $msl-gray-border-color; 
  margin-bottom: 8px; 
  margin-top: 10px;
  height: 64px; 
  
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    margin-top: 0;
  }
  
  #sort-option-container{
    margin: 12px 0 0 15px;
  }
  
  #show-option-container{
    margin: 12px 15px 0 15px;
  }
  
  #sort-options, #show-options{
    padding-right: 30px; 
    font-size: 13px;
  }
  
  .results-line{
    line-height: 64px; 
    font-size: 13px;
  }
  
}

#results-bottom{
  line-height: 32px; 
  font-size: 13px;
}


 a{
  .inventory-container{
    color: #636262;
  } 
 }

.inventory-container{
  
  position: relative;
  height: 520px; 
  border: solid 1px $msl-gray-border-color; 
  background-color: $msl-gray-bg-color; 
  margin-bottom: 8px;
  cursor: pointer;
  
  -webkit-transition: background-color 333ms linear; 
  -moz-transition: background-color 333ms linear;
  -o-transition: background-color 333ms linear;
  -ms-transition: background-color 333ms linear;
  transition: background-color 333ms linear;    
  
 
    

  
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    height: 334px;
  } 
  
  .inventory-content-container{
    
    padding: 40px 15px 0 0;

    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      padding: 40px 30px;
    }     
    
    .inventory-title{
      font-family: 'nexabold';
      color:  $msl-body-font-color;
      font-size: 21px;
      font-weight: 400;
      line-height: 23px;
      padding-bottom: 20px;
      @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
        padding-bottom: 40px;
        max-height: 60px;
      }       
    }
    
    .inventory-img-container{
      // .prod-image{
        // height:160px; 
        // width: 275px;
      // }
        
      // img{
        // display: block;
        // margin: 0 auto;
        // @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
          // margin: 0;
        // }       
      // }
      max-width: 275px; 
      height: 160px; 
      margin: 0 auto; 
      background-size: cover; 
      background-position: center; 
      position: relative;
      
      .dark-mask{
        background: url('../assets/img/gradient-bg.png') repeat-x bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .color-text{
        position: absolute;
        bottom: 13px;
        left: 17px;
        font-size: 11px;
      }
    }
    
    .price{
      font-family: 'nexabold';
      font-size: 19px;
      font-weight: 400;
      line-height: 23px; 
      // padding-top: 20px; 

      @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
        // padding-top: 0;
      } 
       
    }
    
    .price-adjustment{
      // text-align: center;
      @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        text-align: left;
        // margin-left: 22px;
      }       
    }
    
    .no-price-top{
      .price-adjustment{
        text-align: center;
        @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
          text-align: left;
          margin-left: 40px;
        }       
      }
    }
        
    .border-right{
      border-right: 1px solid $msl-gray-border-color; 
    } 
    
    .inventory-text-container{
      
      padding-top: 30px;
      
      .inventory-row{
        
        margin-bottom: 15px;
  
        .inventory-detail{
          
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
    
        }
        
        .inventory-value{
          font-size: 13px;
          font-family: 'nexabold';   
          line-height: 14px;       
        }
        
      }
      @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        margin-left: -40px;
      }    
      
      //fixes to add "sales price" note to top of inventory page
      &.top, &.no-price-top{
        .inventory-detail{
          font-size: 13px;
          line-height: 24px;
          font-weight: 400;
        }
        padding-top: 30px;
         @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
          padding-top: 0;
        } 
      }   
      
    }

  }
  
}

.inventory-container:hover{
  
  background-color: $msl-gray-bg-hover; 
  border-bottom: 10px solid $msl-green;

  -webkit-transition: background-color 333ms linear; 
  -moz-transition: background-color 333ms linear;
  -o-transition: background-color 333ms linear;
  -ms-transition: background-color 333ms linear;
  transition: background-color 333ms linear;   
  
}

//turn all text white and update the background for the specials
.inventory-container.specials{
  
  background-image: url('../assets/img/manager-special-bg.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: $white;

  .border-right{
    border-right: 1px solid $white; 
  }   
  
  .price{
    color: $white;
  }
  
  .inventory-title{
    color: $white;
  }
  
  .inventory-value{
    color: $white;
  }
  
  .manager-special-icon{
    position: absolute; 
    top: 320px; 
    right: 0;
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      top: -25px; 
    }    
  }
   
}

.inventory-stock-id{
  position: absolute; 
  right: 40px; 
  bottom: 25px; 
  font-size: 0.875rem;
}


/**
 *   Compare
 */
.compare-checkbox-container{
  position: absolute; 
  bottom: 20px; 
  left: 30px; 
  height: 30px; 
  width: 140px; 
  z-index: 10;
}

#compare-container{
  
  display: none;
  box-shadow: rgb(204, 204, 204) 1px 1px 8px 1px;
  //padding: 0;

  position: absolute;
  z-index: 9;
  width: 100%;
  border: 1px solid $msl-gray-border-color; 
  background-color: $msl-gray-bg-color; 
  padding: 30px 20px 30px;
  margin-top: 10px;
  margin-left: 0;
  right: 0; 
  
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    //padding: 0 15px;
    width: 96%;
  } 
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    position: relative;
    margin-top: 30px;
    padding-top: 0;
    width: 100%;
    box-shadow: none;
  }   
  
  .compare-inner-container{
    


    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {   
      //margin-left: 15px; 
    }  
    
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      margin-top: 30px;
      margin-left: 0; 
    }       
    
    
    //find this in msl-api.php
    .compare-row{
      margin-bottom: 30px; 
      position: relative;
      
      img{
        height:70px; 
        width: 100px; 
        float:left;
      }
      
      .compare-text{
        
        font-family: 'nexabold';
        float: left; 
        width: 55%; 
        padding-left: 12px;
        
        .compare-name{
          font-size:11px; 
          padding-bottom: 10px;
        }
        
        .compare-price{
          font-size:13px;
        }     
      }
      
      .remove-comparison{
        border: 1px solid $msl-gray-border-color; 
        background-color: $white; 
        border-radius: 10px;
        position: absolute; 
        width:20px;
        height:20px;
        top:-8px;
        left:-8px;
        cursor:pointer;
      }
      
      .remove-comparison-x{
        color: $msl-gray-border-color;
        position:absolute;
        top:1px;
        left:5px;
        font-size: 13px;
      }

      
    }
    
  }
  
}


.edit-link{
  border:1px solid #cccccc; 
  border-bottom: 0; 
  text-align:right;
  height:25px;
  font-size:13px; 
  display:block; 
  line-height: 25px; 
  padding-right: 15px;
}

//the compare-container isn't shown by default, but will be if the session adds this class and the screen size is large enough
#compare-container.show{
  display: none;
  
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    display: block;
  }    
}



#compare-dropdown-container{
  padding-left: 0;
  margin-top: 10px;
  width: 100%;
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    padding-left: 15px;
    margin-top: 0;
    width: 50%;
  }  
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    width: 100%;
    padding-left: 0;

  }      
  
  #compare-dropdown{
    width: 100%;
    
    .compare-btn-text{
      padding-left: 25px; 
      font-size: 15px;
    }
    
    .compare-btn-arrow{
      padding-right: 25px; 
      font-size: 20px;
    }
  }
}

#search-accordion-container{
  display: none;
  background-color: $msl-gray-bg-color;
  position: absolute;
  z-index: 11;
  width: 100%;
  padding-right: 0;
  margin-top: 10px;
  box-shadow: rgb(204, 204, 204) 1px 1px 8px 1px;
  
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {
    //padding-right: 15px;
    width: 96%;
  }    

  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {
    background-color: transparent;
    display: block;
    position: relative;
    padding-right: 0;
    margin-top: 0;
    width: 100%;
    box-shadow: none;
  }  
  
  .hide-check{
    display:none;
  }
}



#search-container{
  
  width: 100%; 
  padding-right: 0;
  

  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    width: 50%; 
    padding-right: 15px;
  }  

  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    width: 100%; 
    padding-right: 0;
  }  
  

}

.checkbox-container{
  label{
    line-height:25px;
  }
  span{
    font-size:13px; 
    padding: 0 5px;
  }
}

#loading-gif{
  display: block;
  margin: 0 auto;
}

/*
 * Pagination 
 */
  a.page-numbers, .page-numbers{
    height: 30px;
    width: 30px;
    line-height: 32px;
    font-size: 13px;
    background-color: $msl-gray-bg-color;
    display: block;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px; 
    text-align: center;    
    color: $msl-light-gray;

    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      height: 46px;
      width: 46px;
      line-height: 48px;
      font-size: 15px;
    }     
    
  }
  .page-numbers.current{
    background-color: $msl-green;
    color: $white;
  }  
  .dots{
    //display:none;
  }
  
  
  
