/**
 *   type - manufactures and lines
 */


.manuf-img{
  width: auto;  
  height: auto;  
  display: block;  
  margin: 70px auto 50px;
}

.line-container{
  
  margin-bottom: 50px; 
  width: 100%;
  
  .line-logo-container{
    max-height: 150px;  
    max-width: 150px;   
    margin-left: auto;  
    margin-right: auto; 
    
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      padding: 0 10px;//makes the images a little smaller on medium-up (before they start shrinking naturally)
    }

    .line-logo-boundaries{
      display: table-cell;  
      vertical-align: middle;  
      width: 150px;  
      height: 150px;
      
      img{
        width: 100%;
      }
    }
    
  }
  
  .line-year{
    margin-bottom: 100px;
  }
  

}


/**
 *   specs-floorplans
 */
#line-img{
  max-width: 700px; 
  margin:0 auto; 
  position:relative; 
  top: 0; 
  margin-top:-150px;
  @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
    margin-top:-250px;
  }
}

.floorplan-img-container{
  min-height: 200px;
  
}

.floorplan-link{
  padding-bottom: 130px;
}


#view-inventory-btn-container{
  
  margin: 30px 0 30px;

  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    margin: 100px 0 30px;
  }    
  
  .stock-count{
    margin: 10px 0 0 30px;
  }
  
}

#large-floorplan-table{
  display: table; 
  width: 100%;

  #large-floorplan-img-container{
  
    height: 300px; 
    width: 100%; 
    display: table-cell; 
    vertical-align: middle; 
    background-color: $msl-gray-bg-color; 
    border: 1px solid $msl-gray-border-color;
  
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      height: 470px; 
    }  
    
    img{
      display: block; 
      margin: 0 auto;
    }
    
  }
  
}



