// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

.top-bar .name {
	h1 a { font-weight: 500; }
}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

// @media only screen and (max-width: ($topbar-breakpoint)) {
  // .mega-sub-menu::-webkit-scrollbar { 
      // display: none; 
  // }
// }

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss. 

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  .top-bar { display: none; }
}


/********************************
 * Overwrite mega menu  (unfortunately, this requires !important for my styles to work over mega menus styles)
 *******************************/
.menu-text{
  display: inline !important;
  font-family: $font-family-sans-serif !important;
  font-size: 11px !important;
  @media only screen and (min-width: $small-breakpoint) {  
    font-size: 13px !important;
  }  
  
  a:hover, a:active, a:focus{
    //border-bottom: 3px solid $msl-green !important;
  }
}
.menu-pad{
  padding-right: 8px !important;
}
.menu-img-container:hover, .menu-img-container:active, .menu-img-container:focus{

    background-color: #e1e1e1 !important;
    -webkit-transition: background-color 333ms linear !important; 
    -moz-transition: background-color 333ms linear !important;
    -o-transition: background-color 333ms linear !important;
    -ms-transition: background-color 333ms linear !important;
    transition: background-color 333ms linear !important;   
    
}

#mega-menu-item-text-9{
  
  .menu-green-button{
    height: 46px !important;
    background-color: $msl-green !important;
    color: $white !important;
    text-align: center !important;
    line-height: 46px !important;
    width: 100% !important;
  }
  
  @media only screen and (max-width: $megamenu-breakpoint) {
    height: 50px !important;
    background-color: $msl-green !important;
    padding-top: 0 !important;
  }
}

.mega-toggle-on{
    @media only screen and (min-width: $megamenu-breakpoint) {
    > a{
        //background-color: orange !important;
        background: url('../assets/img/menu-arrow.png') !important;
        background-repeat: no-repeat !important;
        background-position: 50% 106% !important;
    }

  }
}

#mega-menu-wrap-top-bar-r .mega-menu-toggle.mega-menu-open:before {
    content: url('../assets/img/mobile_nav_x.png') !important;//change the x to close out the menu
}

#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r li{
  //position: static !important; 
}
//faux background for mega menu and green button
@media only screen and (min-width: $megamenu-breakpoint) {
  #full-width-mega{
      background-color: $msl-gray-bg-color !important;//rgba(231, 88, 131,.5);
    height: 100% !important;
    width: 1000000000px !important; 
    position: absolute !important;
    left: -10000px !important;
    right: 10000px !important;
    top: 0 !important;
    z-index: -1 !important;
    //border-top: 1px solid black !important;
    border-bottom: 1px solid $msl-gray-border-color !important; 
  }
  .green-background{
    background-color:  $msl-green !important;
    height: 46px !important;
    width: 1000000000px !important;
    position: absolute !important;
    left: -10000px !important;
    right: 10000px !important;
    bottom: 0 !important;
    z-index: -1 !important;
  }
}
//green button container - exception to mega menu default
#mega-menu-item-text-9{
 padding-bottom:1px !important; 
}
//padding containers
#mega-menu-item-text-20, #mega-menu-item-text-21{
  display: none !important;
  @media only screen and (min-width: $megamenu-breakpoint) {   
    display: block !important;
  }
}

#mega-menu-top-bar-r {

/* //TODO
  @media only screen and (min-width: $megamenu-breakpoint + 1) {   
    li.mega-toggle-on > a:after {
        content: url('../assets/img/coming_soon.png') !important;
        position: relative !important;
        width: 50px !important;
        left: 50% !important;
        top: 60px !important;
        margin-left: -25px !important; //negative number!
        z-index: 999 !important;
        background-color: blue !important;
    }
  }
  */

  @media only screen and (max-width: $megamenu-breakpoint) {    
    
    > li:first-child{
      border-top: 1px solid $msl-gray-border-color !important;
    }
    
    > li{
      background-color: $msl-gray-button-bg  !important;
      border-bottom: 1px solid $msl-gray-border-color !important;
      
      .mega-sub-menu{
        padding: 0 !important; 
        background-color: $msl-gray-bg-hover !important;
       

        max-height: 220px !important;
        overflow-y: scroll !important;

        .mega-menu-item{
          position: relative !important;
        }
        

        
        li{
          border-top: 1px solid $msl-gray-border-color !important;
          border-bottom: 1px solid $msl-gray-border-color !important;
        }
      }
    }
    li.mega-toggle-on > a{
      background-color: $msl-gray-button-bg !important;
    }  
  
  }//end media query
  

  
  //don't display multiple columns on phone/tablet
  li.mega-menu-item{
    
    @media only screen and (max-width: $megamenu-breakpoint) {   
        float: none !important;
    }     
  }  

  .mega-sub-menu > li {


    .menu-img-container{
      border: 1px solid $msl-gray-border-color !important; 
      height: 112px !important; 
      width: 100% !important;
      
    -webkit-transition: background-color 333ms linear !important; 
    -moz-transition: background-color 333ms linear !important;
    -o-transition: background-color 333ms linear !important;
    -ms-transition: background-color 333ms linear !important;
    transition: background-color 333ms linear !important;   
      
      img{
        width: 160px !important; 
        height: 77px !important;  
        display: block !important; 
        margin: 15px auto !important;
      }
    }


    //@media only screen and (max-width: $small-breakpoint) {
    @media only screen and (max-width: $megamenu-breakpoint) {                 
      .mega-menu-item{
        width: 100% !important; 
      }
      //clear: none;

      .menu-img-container{
        border: 0 !important; 
        height: 50px !important; 
        width: 100% !important;
        
        img{
          height: 50px !important;
          width: 95px !important; 
          //display: block !important; 
          margin: 0 !important;
        }
      }
      
      .mega-widget-text-container{
        position: absolute !important;
        left: 40% !important;
        top: 13px !important;
        width: 180px !important;
        @media only screen and (min-width: $small-breakpoint) {
          left: 60% !important; 
          top: 0px !important;          
        }
      }

      img{
        height: 50px !important;
        width: 100px !important; 
      }
        
      h4{
        position: absolute !important;
        left: 40% !important;
        padding-left: 2px !important;
        z-index: 999 !important;
        top: 0;
        @media only screen and (min-width: $small-breakpoint) {
          left: 30% !important;
          top: 15px !important;    
          padding-left: 0 !important;   
        }        
      }
      
      .menu-img-block{
        height: 50px !important; 
      }
    }
   
          
  }   
  
}
//only show menu arrow on mobile and tablet
li.mega-menu-item-has-children > a:after{
  //content: '\f142' !important;//TODO change to down arrow
  
  @media only screen and (min-width: $megamenu-breakpoint) {   
      display:none !important;
  }
}




//Header styles
#topbar-contact-header{
 
  background: #f5f5f5; 
  border-bottom: 1px solid $msl-gray-border-color; 
  height: 40px;
 
  #phone-number{
    
    height: 40px; 
    line-height: 40px;
    text-align: center;
    border-right: 1px solid $msl-gray-border-color;
    
    a, a:hover, a:active, a:focus{
      color: $msl-body-font-color;
    }
    
    @media only screen and (min-width: $topbar-breakpoint) {
      text-align: right;
      padding-right: 22px;
    } 
  } 
  
  #contact-us{
    cursor: pointer; 
    height: 40px; 
    line-height: 40px;
    text-align: center;
  }

}

.top-bar-section{
  
  background-color: white;
  border-bottom: 1px solid $msl-gray-border-color !important; 

  #topbar-logo-and-menu{
  
    height: 80px;
    @media only screen and (min-width: $megamenu-breakpoint) {//THIS MUST BE THE SAME AS WHAT IS SET IN MEGA MENU IN ADMIN!!!!
      height: 106px;
    }
    
    #logo-link{
      position: relative; 
      z-index: 100; 
      top: 25px; 
      display: block; 
      width: 220px;
      height: 39px;
      img{
        width: 100%;
        display: block;
      }
      @media only screen and (min-width:  $small-breakpoint) {
        width: 300px;
      }
      @media only screen and (min-width:  $megamenu-breakpoint) {//THIS MUST BE THE SAME AS WHAT IS SET IN MEGA MENU IN ADMIN!!!!
        top: 30px; 
      }      
    }
  
    #nav-container{ 
      bottom: 0;
      right: 0; 
      width: 100%; 
      z-index: 99;
      position: relative;
      //border-bottom: 1px solid $msl-gray-border-color; 
      
      @media only screen and (min-width: $megamenu-breakpoint) {//THIS MUST BE THE SAME AS WHAT IS SET IN MEGA MENU IN ADMIN!!!!
        position: absolute; 
      }
      
      .mega-menu-toggle{
        top: -20px;
        position: relative;
        
        @media only screen and (max-width: 370px) {
          &:after{
           content: '' !important; 
          }
        }
      }
      
      #mega-menu-wrap-top-bar-r .mega-menu-toggle:before {
        color: $msl-green;
        font-size: 40px !important;
        font-weight: bold;
      }
      
    }
    
    
  }
}

#menu-dark-bg{
  background: #000000;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 84;
  left: 0;  
}


.container{
  margin-top: 100px;
  @media only screen and (min-width:  $megamenu-breakpoint) {//THIS MUST BE THE SAME AS WHAT IS SET IN MEGA MENU IN ADMIN!!!!
    margin-top: 145px;
  }  
  overflow-x:hidden;
}





body.admin-bar #branding-wrap{top: 28px;} 
body.admin-bar #wrapper{margin-top: 145px;}

body.admin-bar .top-bar-container, body.admin-bar section{
  //margin-top: 32px; 
}

//adjust for admin bar and fixed menu
body.admin-bar .header-top{

  margin-top:46px;
  @media (min-width: 783px) {
    margin-top:32px;
  }
}
#wpadminbar{
  position: fixed;
}
