/* 
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

//$font-path:  "../assets/fonts/";//#{$font-path}

@font-face {
    font-family: 'nexaregular';
    src: url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.eot');
    src: url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.woff') format('woff'),
         url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/nexa_regular_macroman/nexa_regular-webfont.svg#nexaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexabold';
    src: url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.eot');
    src: url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.woff') format('woff'),
         url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/nexa_bold_macroman/nexa_bold-webfont.svg#nexabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nexabold_italic";
    src: url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.eot');
    src: url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.woff') format('woff'),
         url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/nexa_bolditalic_macroman/nexa_bold_italic-webfont.svg#nexabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaregular_italic';
    src: url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.eot');
    src: url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.woff') format('woff'),
         url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/nexa_italic_macroman/nexa_regular_italic-webfont.svg#nexaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// We use these to define default font stacks
$font-family-sans-serif:  "nexaregular", Arial, sans-serif; /* "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px;
$global-rounded: 1000px;

// Foundation color naming conventions
$white       : #FFFFFF;

$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;

$black       : #000000;

$msl-body-font-color  : #626262;
$msl-green            : #5dbb46;
$msl-dark-gray        : #363636;
$msl-light-gray       : #7d7d7d;
$msl-light-orange     : #ef4d24;
$msl-red              : #ef4d24;

$msl-gray-bg-color    : #f5f5f5;
$msl-gray-bg-hover    : #e1e1e1;
$msl-gray-border-color: #cccccc;//also used for topbar menu color
$msl-gray-button-bg   : #ebebeb;

// We use these as default colors throughout
$primary-color: $msl-green;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;



// We use these to control various global styles
$body-bg: $white;
$body-font-color: $msl-body-font-color;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;
$topbar-link-weight: bold;

// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(985);
$topbar-breakpoint: em-calc(840);
$megamenu-breakpoint: 840px;
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));

$screen: "only print, screen";


$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

 

@media only screen and (min-width: ( $medium-breakpoint + em-calc(1))) {
  .hide-smaller-than-medium{
    display:block;
  }
  .hide-wider-than-medium{
    display:none;
  }
}

@media only screen and (min-width: ( $small-breakpoint + em-calc(1))) {
  .hide-smaller-than-small{
    display:block;
  }
  .hide-wider-than-small{
    display:none;
  }
}


@media only screen and (max-width: ( $medium-breakpoint )) {
  .hide-smaller-than-medium{
    display:none;
  }
  .hide-wider-than-medium{
    display:block;
  }
}

@media only screen and (max-width: ( $small-breakpoint )) {
  .hide-smaller-than-small{
    display:none;
  }
  .hide-wider-than-small{
    display:block;
  }
}


// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

// $row-width: rem-calc(1000);
// $total-columns: 12;
$column-gutter: rem-calc(30);



/* overwrite */
.row {
  max-width: 100% !important;
}
.top-bar-container{
  margin-bottom: 0 !important;  
}  
footer.row {
  margin-top: 0 !important;
}


.left-collapse {
  .columns {
    padding-left: 0;
  }
}
.right-collapse {
  .columns {
    padding-right: 0;
  }
}

$anchor-font-color: $msl-green;



/***************************************************************************
 * 01. Accordion
 ***************************************************************************/


/* Custom Changes */
.accordion-navigation {
  >a:after {
    font-family: FontAwesome; 
    //content: "\f078";
    content: url('../assets/img/arrow-down.png');
    position: absolute;
    right: 25px;
    top: 8px;
    float: right;
    font-size: 20px;
  }
  &.active a:after {
    //content: "\f077";
    content: url('../assets/img/arrow-up.png');
  }
}

ul.accordion {
  margin-left: 0;
}

.accordion .accordion-navigation>a{
  
  min-height: 45px;
  margin-top: 4px;
}
#condition-accordion{
  margin-top: 0;
}

.accordion .accordion-navigation .content {
  border-left: 1px solid $msl-gray-border-color;
  border-right: 1px solid $msl-gray-border-color;
  border-bottom: 1px solid $msl-gray-border-color;

  p{
    margin: 35px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;    
  }

}

/* Default overides */
$include-html-accordion-classes: $include-html-classes;

$accordion-navigation-padding: 13px 60px 9px 25px;
$accordion-navigation-bg-color: $msl-green;
$accordion-navigation-hover-bg-color: $msl-green;
$accordion-navigation-active-bg-color: $msl-green;
$accordion-navigation-font-color: $white;
$accordion-navigation-font-size: 15px;
$accordion-navigation-font-family: $body-font-family;

$accordion-content-padding: ($column-gutter/2);
$accordion-content-active-bg-color: $msl-gray-bg-color;




/***************************************************************************
 * 05. Buttons
 ***************************************************************************/

// $include-html-button-classes: $include-html-classes;

// We use these to build padding for buttons.
$button-tny: rem-calc(10);
$button-sml: rem-calc(14);
$button-med: rem-calc(25);
$button-lrg: rem-calc(18);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: rem-calc(0);

// We use these to control button text styles.
$button-font-family: $body-font-family;
$button-font-color: $white;
$button-font-color-alt: $oil;
$button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(13);
$button-font-med: rem-calc(16);
$button-font-lrg: rem-calc(20);
$button-font-weight: $font-weight-normal;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: -20%;

// We use these to control button border styles.
$button-border-width: 0;
$button-border-style: solid;
$button-bg-color: $msl-green;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
$button-border-color: $button-bg-hover;
$secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
$secondary-button-border-color: $secondary-button-bg-hover;
$success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor);
$success-button-border-color: $success-button-bg-hover;
$alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor);
$alert-button-border-color: $alert-button-bg-hover;
$warning-button-bg-hover: scale-color($warning-color, $lightness: $button-function-factor);
$warning-button-border-color: $warning-button-bg-hover;
$info-button-bg-hover: scale-color($info-color, $lightness: $button-function-factor);
$info-button-border-color: $info-button-bg-hover;

// We use this to set the default radius used throughout the core.
$button-radius: $global-radius;
$button-round: $global-rounded;

// We use this to set default opacity and cursor for disabled buttons.
$button-disabled-opacity: .7;
//$button-disabled-cursor: $cursor-default-value;

button, .button {
 padding-right: 0 !important; 
 padding-left: 0 !important; 
 width: 100%;
}


/***************************************************************************
 * 25. Reveal
 ***************************************************************************/

$include-html-reveal-classes: $include-html-classes;

// We use these to control the style of the reveal overlay.
$reveal-overlay-bg: rgba($black, .7);
$reveal-overlay-bg-old: $black;

// We use these to control the style of the modal itself.
$reveal-modal-bg: #ebebeb;
$reveal-position-top: -50px;
$reveal-default-width: rem-calc(465);
$reveal-max-width: rem-calc(465);
$reveal-modal-padding: rem-calc(15);
$reveal-box-shadow: 0;//0 0 10px rgba($black,.4);

// We use these to style the reveal close button
$reveal-close-font-size: rem-calc(25);
$reveal-close-top: rem-calc(28);
$reveal-close-side: rem-calc(28);
$reveal-close-color: $base;
//$reveal-close-weight: $font-weight-bold;

// We use this to set the default radius used throughout the core.
$reveal-radius: 0;
$reveal-round: $global-rounded;

// We use these to control the modal border
$reveal-border-style: solid;
$reveal-border-width: 4px;
$reveal-border-color: $msl-green;

$reveal-modal-class: "reveal-modal";
$close-reveal-modal-class: "close-reveal-modal";



/***************************************************************************
 * 30. Tabels
 ***************************************************************************/

$include-html-table-classes: $include-html-classes;

// These control the background color for the table and even rows
$table-bg: none;
$table-even-row-bg: none;

// These control the table cell border style
$table-border-style: solid;
$table-border-size: 0;
$table-border-color: $gainsboro;

// These control the table head styles
$table-head-bg: $white-smoke;
$table-head-font-size: rem-calc(14);
$table-head-font-color: $jet;
$table-head-font-weight: $font-weight-bold;
$table-head-padding: rem-calc(8 10 10);

// These control the table foot styles
$table-foot-bg: $table-head-bg;
$table-foot-font-size: $table-head-font-size;
$table-foot-font-color: $table-head-font-color;
$table-foot-font-weight: $table-head-font-weight;
$table-foot-padding: $table-head-padding;

// These control the caption
$table-caption-bg: transparent;
$table-caption-font-color: $table-head-font-color;
$table-caption-font-size: rem-calc(16);
$table-caption-font-weight: bold;

// These control the row padding and font styles
$table-row-padding: 0;//rem-calc(0 10);
$table-row-font-size: rem-calc(14);
$table-row-font-color: $jet;
$table-line-height: 14px;//rem-calc(18);

// These are for controlling the layout, display and margin of tables
$table-layout: auto;
$table-display: table-cell;
$table-margin-bottom: 0;//rem-calc(20);


/***************************************************************************
 * 31. Tabs
 ***************************************************************************/
$include-html-tabs-classes: $include-html-classes;

$tabs-navigation-padding: rem-calc(14);
$tabs-navigation-bg-color: $msl-gray-bg-hover;
$tabs-navigation-active-bg-color: $msl-gray-bg-color;
$tabs-navigation-hover-bg-color: $msl-gray-bg-color;//scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $msl-body-font-color;
$tabs-navigation-active-font-color: $tabs-navigation-font-color;
$tabs-navigation-font-size: rem-calc(15);
$tabs-navigation-font-family: $body-font-family;

$tabs-content-margin-bottom: rem-calc(24);
$tabs-content-padding: ($column-gutter/1);

$tabs-vertical-navigation-margin-bottom: 1.25rem;



// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
$topbar-bg-color: $msl-gray-bg-color;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(45);
$topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(17);

// Set the link colors and styles for top-level nav
$topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $white;
$topbar-link-color-active-hover: $white;
$topbar-link-weight: $font-weight-normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: $jet;
$topbar-link-bg-color-hover: $charcoal;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-font-family: $body-font-family;
$topbar-link-text-transform: none;
$topbar-link-padding: ($topbar-height / 3);
$topbar-back-link-size: rem-calc(18);
$topbar-link-dropdown-padding: rem-calc(20);
$topbar-button-font-size: .75rem;
$topbar-button-top: 7px;

// Style the top bar dropdown elements
$topbar-dropdown-bg: $oil;
$topbar-dropdown-link-color: $white;
$topbar-dropdown-link-color-hover: $topbar-link-color-hover;
$topbar-dropdown-link-bg: $oil;
$topbar-dropdown-link-bg-hover: $jet;
$topbar-dropdown-link-weight: $font-weight-normal;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: $white;
$topbar-dropdown-toggle-alpha: .4;

$topbar-dropdown-label-color: $monsoon;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: $font-weight-bold;
$topbar-dropdown-label-font-size: rem-calc(10);
$topbar-dropdown-label-bg: $oil;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: $font-weight-bold;
$topbar-menu-link-color: $white;
$topbar-menu-icon-color: $white;
$topbar-menu-link-color-toggled: $jumbo;
$topbar-menu-icon-color-toggled: $jumbo;
//$topbar-menu-icon-position: $opposite-direction; // Change to $default-float for a left menu icon

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";

// Top-bar input styles
$topbar-input-height: rem-calc(28);

// Divider Styles
$topbar-divider-border-bottom: solid 1px scale-color($topbar-bg-color, $lightness: 13%);
$topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
$topbar-sticky-class: ".sticky";
$topbar-arrows: true; //Set false to remove the triangle icon from the menu item
$topbar-dropdown-arrows: true; //Set false to remove the \00bb >> text from dropdown subnavigation li//

.menu-main-container ul, .menu-main-container ul li{
  list-style: none;
}



/******************************
responsive menu stuff
*****************************
#responsive-menu{
  width: 100% !important;
  bottom: auto !important;
}

ul.sub-menu{
  margin-left: 0;
  
  ul, ul li ul{
    margin-left: 0;
  }
}
*/


