
/*  Generic Page - Secondary Content Styles */
.sub-section {
  padding-top: 52.5px;
  padding-bottom: 52.5px;
}

.image-header {
  margin-bottom: 60px;
}

.img-responsive, .thumbnail a>img, .thumbnail>img, .wp-caption a>img, .wp-caption>img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-responsive.center{
  margin: 0 auto;
}


hr.divider {
  color: $msl-light-gray;
  border-width: 2px 0 0;
  margin-left: 15px;
  margin-right: 15px;
}

.caption{
  font-size: 13px; 
  font-weight: 400;
  font-family: 'nexaregular_italic';
  line-height: 24px;
}


#featured-image{
  
  background-size: cover; 
  width: 100%; 
  height: 296px;
}

#image-overlay{
  height: 65px;
  
  #image-overlay-container{
    position: absolute; 
    bottom: 0;
    
    img{
      width: 100%;
    }
  }
  
  @media only screen and (min-width: ( $small-breakpoint + em-calc(1))) {
    height: 115px;
  }
  
}

.sidebar-img{
  margin-top: 82px;
}

//sitemap page
h2.wsp-pages-title{
  display: none;
}

//default sidebar
aside{
  @media only screen and (min-width: ( $small-breakpoint + em-calc(1))) {
    margin-top: 82px;
  }  
}
