
.part-special-container{
  
  margin-bottom: 50px; 
  width: 100%;
  
  .box{

    border: 1px solid #ccc; 
    height: 368px; 
    width: 290px; 
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto;

    .img-container{
      display: table-cell; 
      vertical-align: middle; 
      width: 290px; 
      height: 368px;
    }
    
    .img{
      width: auto; 
      height: auto;  
      display: block; 
      margin: 0 auto;
    }
    
  }
 
  
  .text-container{
    
    margin: 0 auto; 
    width: 290px;
    font-size: 19px; 
    min-height: 127px;
    
    .title{
      
    }
    
    .price{
      
    }
    
    .description{
      font-size: 13px; 
    }
    
  }
  
}
