

.reveal-modal{

    position: absolute;
    //top: 10px !important;
    z-index: 2001;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      //position : fixed;  
      //top: 200px !important;    
    }    
}

.close-reveal-modal{
  z-index: 1000;

  //font-size: 1.5rem !important;//overide default value
  font-weight: normal !important; //overide
  //top: 2.4rem !important; //overide
 // right; 2rem !important;
  
  display: block;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #aaa;
  height: 25px;
  width: 25px;
  
}
