
/*
 * Overide Slider defaults here - it requires "!important" to overcome slider css default values
 */

.bx-wrapper{

  /***************************************
   * UNDO some styles to get to clean/workable slider
   ***************************************/
  
  //remove the borders and padding
  .bx-viewport{
    border: 0 !important;
    //background-color: orange !important;
    left: 0 !important;
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
  }
  
  //fixes issue with wrong slider starting up instead of slider 1
  .bx-clone { display: none !important; }

  //I don't even know what kind of crazy purpose the left margin was supposed to serve, so remove it
  ul {
     margin-left: 0 !important;
  }
  
  //don't let controls be on top of popups
  .bx-controls-direction a{
    z-index: 1999 !important;
  }
}

  /***************************************
   * Custom Styles Specific to Motor Sportsland Home Page
   ***************************************/
#slider-container .bx-wrapper{
    
  margin-bottom: 0 !important;
  
  //move dots to top of slider
  .bx-pager{
    position: absolute !important;
    top: 15px !important;
    z-index: 10 !important;
    bottom: auto !important;
  }
  
  //make viewport transparent and fit to screen nicely
  .bx-viewport{
    background: transparent !important;
    height: 100% !important;
  }
  
  //make pager gray and white instead of black and gray
  .bx-pager.bx-default-pager a{
    background: #fff !important;
  }
  .bx-pager.bx-default-pager a.active {
    background: #666 !important;
  }
  
  .bxslider{
    padding-top: 60px !important;
  }
  
  img{
    width: 100%;
  }
  
}


/***************************************
 * Other styles used on the slider 
 ***************************************/
#slider-adjustment{
  
  @media only screen and (min-width: em-calc(1100)) {  
    margin-left:5%;
  }  
  @media only screen and (min-width: $large-breakpoint + em-calc(1)) {  
    margin-left:4.2%;
  }    
}

#slider{
  width: 100%; 


  .slider-header{
  
    font-family: 'nexabold';
    color:    $msl-light-orange;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 5px;
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      font-size: 23px;
    } 
        
  }
  
  .slider-text{
    font-family: $font-family-sans-serif;
    color:  #626262;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 30px;
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      font-size: 17px;
    }     
  }
  
  #slider-featured-image{
    background-size: cover !important;  
    height: 296px; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
  }
  
  #slider-container{
    max-width: 1050px; 
    margin: 0 auto; 
    padding: 0 15px;
  }
  
  .slider-text-container{
    
    position: relative; 
    z-index:101; 
    text-align: center;
    
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      min-height: 450px;
       
      text-align: left;
    }  

    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      min-height: 380px;
      max-width: 350px; 
    }    
  }
  
  .slider-img{

    width: 100%;
    position: relative;
    padding-top: 25px;
    
    @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
      position: absolute; 
      right: 0; 
      top: 70px; 
      padding-left: 70px; 
    }  

    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      top: 0; 
      padding-left: 220px;     
    }    
  }
  
  
}




/****************************************************************
 * Owl Slider
 ***************************************************************/
.detail-slider-container{
  
  margin-top: 10px;
  @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
    margin-top: 30px;
  }  
  

  /* Styling Next and Prev buttons, overwrite defaults*/
  .owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 !important;
    padding: 3px 10px !important;
    font-size: 40px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
    filter: Alpha(Opacity=50);
    opacity: 1 !important;
  }
  
     
    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-prev{
      left: 10px;
      top: 70px; 
      @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
        top: 130px; 
      } 
      @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        top: 195px; 
      }    
      img{
        width: 13px;  
      }  
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: 10px;
      top: 70px; 
      @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
        top: 130px; 
      } 
      @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        top: 195px; 
      } 
      img{
        width: 13px;  
      }
    }
  
  
  
  
  #sync1 .item{
      background: $msl-green;
      padding: 80px 0px;
      //margin: 5px;
      color: #FFF;
      //-webkit-border-radius: 3px;
      //-moz-border-radius: 3px;
      //border-radius: 3px;
      text-align: center;
      height: 200px !important;
      @media only screen and (min-width: $small-breakpoint + em-calc(1)) {  
        height: 350px !important;
      } 
      @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
        height: 450px !important;
      }             

      background-repeat: no-repeat ;
      background-position:  center center;     
  
  }
  

  
  #sync2{
    
    top: -50px;
    max-width: 80%;
    margin: 0 auto;
  
    .owl-item{
      background: $msl-green;
      max-height: 90px;
    }
  
    .item{
      
      background-repeat: no-repeat ;
      background-position:  center center;
      
      //padding: 10px 0px;
      //margin: 5px;
      border-right: 1px solid $msl-gray-border-color !important;
      border-top: 1px solid $msl-gray-border-color !important;
      //margin-right: 1px;
      color: #FFF;
      //-webkit-border-radius: 3px;
      //-moz-border-radius: 3px;
      //border-radius: 3px;
      text-align: center;
      cursor: pointer;
      
      max-width: 200px !important; 
      height: 90px;   
    } 
  
    .synced .item{
        background-repeat: no-repeat;
        background-position: center center;      

      .selected-item-bg {
        position: absolute;
        top: 0; 
        left: 0; 
        height: 100%; 
        width: 100%; 
        background-color: rgba(0, 0, 0, .5);
        border-bottom: 4px solid $msl-green;
      }
    }  
      
    .owl-wrapper-outer{
      z-index: 80 !important;
      left: 1px !important; 
    }
    

    
    .owl-controls.clickable{
      position: absolute;
      width: 100%;
      top: 0;
      height: 100%;
      /* background-color: green; */
      margin-top: 0;  
      z-index: 50 !important; 
    }
    
    .owl-prev{
    
      position: absolute;
      left: -20px;
      top: 0;
      height: 90px;
      background-color: $msl-green !important;
      opacity: 1 !important;
      border-radius: 0 !important;
      margin: 0;
      width: 20px;
      border-right: 1px solid $msl-gray-border-color;
  
    }
  
    .owl-next{
    
      position: absolute;
      right: -20px;
      top: 0;
      height: 90px;
      background-color: $msl-green !important;
      opacity: 1 !important;
      border-radius: 0 !important;
      margin: 0;
      width: 21px;
  
    }
    
  }

}
