
.manager-special-container{
  
  margin-top: 120px;
  font-family: 'nexabold';
  
  .special-top-border{
    border-top: 1px solid $msl-gray-border-color; 
    padding-top: 80px;
  }
  
  .special-img-container{
    height: 225px;    
    width: 100%; 
    margin-bottom: 70px;
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      margin-bottom: 0;
    }     
  }
  
  .special-header{
    
    font-size: 13px;
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      font-size: 17px;
    } 
    
  }
  
  .special-link{
    
    font-size: 13px;
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      font-size: 17px;
    }     
  }
  
  .dark-mask{
    //background-color: rgba(0, 0, 0, .3);
    background: url('../assets/img/gradient-bg.png') repeat-x bottom; //add gradient instead of background color
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
  }
  
  .special-price{
    position: absolute; 
    bottom: 15px; 
    left: 15px; 
    font-size: 17px;
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      font-size: 23px;
    }      
  }
  
  .special-deal{
    position: absolute; 
    bottom: 15px; 
    right: 15px; 
    
    font-size: 11px;
    @media only screen and (min-width: $medium-breakpoint + em-calc(1)) {  
      font-size: 13px;
    } 
  }
  
  .special-prod-image{
    max-width:100%;
    display:block;
  }
  
}
